{% extends "base.html" %}

{% block head_block %}

<title>
    عضویت | سامانه ورزش کن
</title>

{% endblock %}

{% block body_block %}
<div class="section fMarkazi">
  <div class="container">

  <div class="container"><br>
<span class="center-align"><h3 class="fMarkazi gold-text";>عضویت</h3><br><br></span>
  <div class="row center">
  <div class="card-panel hoverable pink accent-3 z-depth-5">

        <form method="POST">

          {% csrf_token %}

            <form enctype="multipart/form-data" method="POST">
              {{user_form.Hfield}}
              {{commonuser_form.Hfield}}
              <div class="input-field col s12">
      {{user_form.username}}
      <label class="fMarkazi" for="username">نام کاربری</label>
    </div>
    <div class="input-field col s12">
{{user_form.email}}
<label class="fMarkazi" for="emial">ایمیل</label>
</div>
<div class="input-field col s12">
{{user_form.first_name}}
<label class="fMarkazi" for="first_name">نام</label>
</div>
<div class="input-field col s12">
{{user_form.last_name}}
<label class="fMarkazi" for="last_name">نام خانوادگی</label>
</div>
<div class="input-field col s12">
{{user_form.password1}}
<label class="fMarkazi" for="password1">رمز عبور</label>
</div>
<div class="input-field col s12">
{{user_form.password2}}
<label class="fMarkazi" for="password2">تکرار رمز</label>
</div>



<div class="input-field col s12">
{{commonuser_form.phone_number}}
<label class="fMarkazi" for="phone_number">تلفن همراه</label>
</div>

<div class="input-field col s12 m12 l12">
  <div class="file-field input-field">

<div class="btn gold">
{{commonuser_form.picture}}
<span>عکس</span>

</div>
<div class="file-path-wrapper">
<input class="file-path" type="text">
</div>
</div>
</div>
<div class="row">
  <div class="input-field col s12 m12 l12">
    <label>
      {{user_form.terms}}
      <span><a href="{% url 'company:termsdetail'%}">قوانین </a> سایت را به طور کامل خوانده و قبول دارم </span>
    </label>
  </div>
  <div class="row">

  </div>
<br>
</div>

<div class="row">

</div>
<br><br>
          {% if user_form.errors%}
                <p class="fMarkazi white-text">{{user_form.errors}}</p>
                {% endif %}
                {% if sportclub_form.errors%}
                <p class="fMarkazi white-text">{{sportclub_form.errors}}</p>
                {% endif %}

                    {% csrf_token %}

                    <button class="hoverable btn waves-effect waves-dark gold white-text z-depth-3" type="submit">تایید
        </button>

            </form>

          </div>
        </div>
        </div>

        </div>
        </div>

        {% endblock %}
        {% block script_block %}
        <script type="text/javascript">
          $(document).ready(function() {
          M.updateTextFields();
        });
        </script>
        {% endblock %}
