{% extends "base_templates/base1.html" %}

{% block head_block %}
<title>
    تایید حساب | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">
  <div class="container">
  <div class="container"><br>
<span class="center-align"><h3 class="fMarkazi gold-text";>تایید حساب</h3><br><br></span>
  <div class="row center">
  <div class="card-panel hoverable pink accent-3 z-depth-5">

        <form method="POST">
          {{form.Hfield}}
          <div class="input-field col s12">
  {{form.code}}
  <label class="fMarkazi" for="username">کد تایید</label>
</div>
<div class="row">
  <div class="col s6 m6 l6">
    {{phone_number}}
  </div>
  <div class="col s6 m6 l6">
    شماره ای که کد به آن فرستاده شده
  </div>

</div>

            {% if form.errors %}
            <p class="fMarkazi white-text">{{form.error}}</p>
            {% endif %}

                {% csrf_token %}

                <button class="hoverable btn waves-effect waves-dark gold white-text z-depth-3" type="submit">تایید
    </button>
        </form>
  </div>
</div>
</div>

</div>

</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
</script>
{% endblock %}
